<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Review</title>
</head>
<body>
    <h3>Welcome, {{ request.session.user.name }}</h3>
    <a href="#">Add Book and Review</a>
    <a href="#">Logout</a>
    <h2>Recent Book Reviews:</h2>
    <h4><a href="#"></a>Name of the book will go here</h4>
    Rating: <img src="" alt="" />
    <a href="#">User Name here</a><p>
      review goes here
    </p>
    <h2>Other Books with Reviews:</h2>
    <ul>
      <li>loops book names</li>
    </ul>
</body>
</html>
